body {
    background-color: #faf8ef;
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", "Open Sans";
}

.game {
    width: 468px;
    margin-top: 30px;
}

.game__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.game__header {
    font-size: 80px;
    line-height: 0.7;
    color: #776E65;
    margin: 0px;
}

.game__grid {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: #BBADA0;
    border: 7px solid #BBADA0;
    border-radius: 6px;
    margin-top: 20px;
}

.game__grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #EEE4DA;
    color: #afa192;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
}

.score {
    text-align: center;
    width: 70px;
    height: 60px;
    border-radius: 3px;
    background-color: #8f7a66;
    color: #FFFFFF;
}

.score__count {
    font-size: 30px;
}

.score__title {
    font-size: 16px;
}
